* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  line-height: 1.5;
}

body {
  box-sizing: border-box;
}

.container {
  background-color: lightgray;
  padding: 1rem;
  height: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.container .items {
  background-color: lightcoral;
  font-size: 3rem;
  color: white;
  margin: 1rem;
}
.container .i2 {
  height: 200px;
  flex-basis: 15%;
}
.container .i3 {
  order: 1;
  flex-grow: 1;
}
.container .i4 {
  order: -1;
  flex-grow: 1;
}
