.container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas: '. head head .' 'box-1 box-2 box-3 side' 'main main main side' 'main main main side' 'foot foot foot foot';
  width: 1000px;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
}

.item {
  padding: 20px;
  color: inherit;
}
.item--1 {
  background-color: orangered;
  grid-area: head;
}
.item--2 {
  background-color: blueviolet;
  grid-area: box-1;
}
.item--3 {
  background-color: brown;
  grid-area: box-2;
}
.item--4 {
  background-color: coral;
  grid-area: box-3;
}
.item--5 {
  background-color: cadetblue;
  grid-area: side;
}
.item--6 {
  background-color: chartreuse;
  grid-area: main;
  grid-row: 3 / 5;
}
.item--7 {
  background-color: crimson;
  grid-area: foot;
}
