//Colors
$color-violet: #73138b;
$color-violet-red: #da1671;
$color-grey-text: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-orange: orange;
$color-orange-red: orangered;
$color-green: green;
$color-green-shine: limegreen;
$color-blue-sky: skyblue;
$color-blue-cadet: cornflowerblue;

//Grid
$max-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;